@font-face {
  font-family: "Sehaj";
  src: url('All Fonts/Sehaj-ENG-Bold.otf');
}
h4{
	color:#C529A3 !important;
	font-family: "Sehaj";
	letter-spacing:1px;
}
.let{
	color:#0166B3;
}

body{
	margin:0px;
	padding:10px;
}
.col-md-12{
	margin-top:10px !important;
}
.xx{
	text-align:left;
	background:#FFFDE9;
	width:100%;
	padding:10px;
	border: 3px dashed #FECA0A;
}
#welldone{
	width:50%;
}

input{
	width:45px;
	height:45px;
	border:1px solid red;
	font-size:20px !important;
	text-align:center;
	cursor:pointer;
	background:white;
}
.row{
	font-size:21px;
}
.opt{
	width:80px !important;
}
.blank{
	border:2px solid #71BF44;
	border-radius:10px;
	color:#71BF44;
	background:#fff;
	pointer-events:auto !important;
}
.down{
	border-radius:10px;
	padding:7px;
	width:150px;
	color:white;
	text-align:center;
	background:#F0593E;
}
.ques_image{
	width:90%;
}
.ques_imageR{
	width:70%;
	margin-left:-50px;
}
.hidden{
	display:none !important;
}
.speaker{
	width:30px; 
	height:30px; 
	margin-right:10px;
	margin-left:10px;
	cursor:pointer;
}
.canvas {
    background:#D2B985;
	font-size:25px;
	padding:7px;
	margin-top:7px !important;
	border-radius:10px;
	text-align:center;
	color:#fff;
}
#submit, #reset, #sol{
	cursor:pointer;
}
.container-fluid{
	padding:20px;
}
