@font-face {
  font-family: "Sehaj";
  src: url('All Fonts/Sehaj-ENG-Bold.otf');
}
h4{
	color:#C529A3 !important;
	font-family: "Sehaj";
	letter-spacing:1px;
}
.let{
	color:#0166B3;
}
body{
	margin:0px;
	padding:10px;
	background-image:url(img/b1.png);
	background-size:cover;
}
#welldone{
	width:50%;
}
canvas{
	box-shadow: 1px 2px 1px 2px magenta;
	margin:20px;
}
span{
	padding:5px;
}
.title_img{
	width:100%;
	margin-bottom:10px;
}
.left{
	border:4px solid #A6CE39;
	border-radius: 20px;
	background:#F4F9E8;
	cursor: url(img/brush.png), auto;
	padding:20px;
}
.right{
	border:4px solid #DF896E;
	border-radius: 20px;
	background:#FEF9E7;
	cursor: url(img/brush.png), auto;
	padding:20px;
}
.hidden{
	display:none;
}
.speaker{
	width:30px; 
	height:30px; 
	margin-right:10px;
	margin-left:10px;
	cursor:pointer;
}
.ques_image{
	width:80%; 
	margin-right:10px;
	margin-left:10px;
	cursor: url(img/brush.png), auto;
}
.answers{
	font-size:40px;
	cursor:pointer;
}
.col-md-5{
	text-align:center;
	margin:auto;
}
#submit, #reset, #sol{
	cursor:pointer;
}
.tools{
	display:flex;
	justify-content: center;
	flex-direction: row;
	margin-top: 15px;
}
.tools .color-field{
	height:40px;
	width:40px;
	min-height:40px;
	min-width:40px;
	cursor:pointer;
	display:inline-block;
	box-sizing: border-box;
	border-radius:50%;
	border: 2px solid white;
	align-self: center;
	
}
.tools .button{
	align-self: center;
	width: 100px;
	height: 40px;
	border: 2px solid white;
	cursor:pointer;
	color:white;
	background:#222;
	font-weight:bold;
	margin: 0 10px;
}

.color-picker{
	align-self:center;
	margin: 0 10px;
	height: 50px;
}

.pen-range{
	align-self:center;
	margin: 0 10px;
	height: 50px;
}